<div class="login-bg">
  <div class="login-container">
    <div class="register-content" [ngClass]="{active: register}">
      <div class="login-header">
        <h1 class="login-title">Register</h1>
      </div>
      <div class="login-body">
        <form [formGroup]="registerForm" class="login-form">
          <mat-form-field class="example-full-width">
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" type="password">
          </mat-form-field>
          <button class="login-btn" mat-button (click)="registerSubmit()">NEXT</button>
        </form>
      </div>
    </div>
    <div class="login-content" [ngClass]="{disabled: register}">
      <div class="login-header">
        <h1 class="login-title">Login</h1>
      </div>
      <div class="login-body">
        <form [formGroup]="loginForm" class="login-form">
          <mat-form-field class="example-full-width">
            <input formControlName="email" matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="password" matInput placeholder="Password" type="password">
          </mat-form-field>
          <button class="login-btn" mat-button (click)="loginSubmit()">GO</button>
        </form>
      </div>
    </div>
    <button class="register-btn" mat-fab (click)="showRegister()" [ngClass]="{gologin: goLogin}">
      <i *ngIf="!register" class="material-icons">
        add
      </i>
      <i *ngIf="register" class="material-icons">
        close
      </i>
    </button>
  </div>
</div>